---
title: Ray's project
---

<div id="wrapper">
<div align=center>
  <h1>WHAT IS RAY WORKING ON RIGHT NOW?</h1>
  <h3>get in touch at raydroujkov@gmail.com</h3>
</div>

<div class="project">
  <div class="title">
    <p>Trapeze at <a href="http://www.cirquedevol.com/">Cirque de Vol studio</a></p>
    <p style="font-size:11px;">since December 2014</p>
  </div>
  <img src="http://visinsita.github.io/whatsraydoing/assets/images/trapeze.png" style="width:320px; height:320px;">
  <div class="status">
    <p>Right now I'm: taking beginner level classes</p>
  </div>
</div>

<div class="project">
  <div class="title">
    <p>Code Immersion Program at <a href="http://techtalentsouth.com/">Tech Talent South</a></p>
    <p style="font-size:11px;">since April 2015</p>
  </div>
  <img src="http://visinsita.github.io/whatsraydoing/assets/images/tts.png" style="width:320px; height:320px;">
  <div class="status">
    <p>Right now I'm: making this site (how meta)</p>
  </div>
</div>

<div class="project">
  <div class="title">
    <p>Translating Geometry in Problems from Russian</p>
    <p style="font-size:11px">since January 2015</p>
  </div>
  <img src="http://visinsita.github.io/whatsraydoing/assets/images/geometry.png" style="width:320px; height:320px;">
  <div class="status">
    <p>Right now I'm: translating the afterword</p>
  </div>
</div>

<div align = center>
  <p><a href="https://github.com/visinsita/whatsraydoing">Look at my code on GitHub</a></p>
</div>
</div>